
@{
    ViewBag.Title = "Entry Added";
}

<h2>Entry has been successfully added to the system</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-sm">
                <p>
                    Employee with the email: @ViewBag.EmployeeName has been added to the @ViewBag.BusinessYear business year entry. 
                </p>
            </div>
        </div>
    </div>
</div>

