
@{
    ViewBag.Title = "New Employee Added";
}

<h2>Employee Added Successfully</h2>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-sm">
              The employee has been added successfully, check the employee list. 
            </div>
        </div>
    </div>
</div>
