
@{
    ViewBag.Title = "Year Wage Expenditure";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
<script src="~/assets/js/DateTimePicker/angular-bootstrap-datetimepicker-directive.min.js"></script>
<script src="~/assets/js/angularapps/app.js"></script>
<script src="~/assets/js/angularapps/scripts/appServices.js"></script>
<script src="~/assets/js/angularapps/scripts/appController.js"></script>

<h2>Year Wage Expenditure - Angular </h2>

<div class="container">

    <div ng-app="ngSpaApp" ng-controller="ngSpaAppController" ng-init="init()">
        <div class="row">
            <div class="col-xs-3">
                <input class="btn btn-sm btn-primary" type="submit" value="Quick Add New Employee" ng-click="(quickAddEmployeeModal())">
            </div>
            <div class="col-xs-3">
                <input class="btn btn-sm btn-success" type="submit" value="Quick Add New Entry" ng-click="(quickAddNewEntryModal())">
            </div>
            <div class="col-xs-offset-4 col-xs-2 text-right">
                <select class="form-control" ng-model="selectedYear" ng-change="load(selectedYear)">
                    <option ng-repeat="year in years">{{year}}</option>
                </select>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Employee Id</th>
                                    <th>Employee Name</th>
                                    <th>Year Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="entry in YearList">
                                    <td>{{entry.BusinessYear}}</td>
                                    <td>{{entry.EmployeeId}}</td>
                                    <td>{{entry.EmployeeName}}</td>
                                    <td>{{entry.YearTotal}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <input class="btn btn-sm btn-warning" type="submit" value="Edit Entry" data-toggle="modal" data-target="#editEntryModal">
                                            <input class="btn btn-sm btn-danger" type="submit" value="Delete Entry" data-toggle="modal" data-target="#deleteEntryModal">
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_quickAddModal")
        @Html.Partial("_quickAddNewEntryModal")
    </div>
</div>

