
@{
    ViewBag.Title = "Year Wage Expenditure";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="~/assets/js/angularapps/app.js"></script>
<script src="~/assets/js/angularapps/scripts/appController.js"></script>
<script src="~/assets/js/angularapps/scripts/appServices.js"></script>

<h2>Year Wage Expenditure - Angular </h2>

<div class="container">
    <div ng-app="ngSpaApp" ng-controller="ngSpaAppController">
        {{test}}
    </div>
</div>