<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/27a64340-75e9-480a-981f-99169df840d2/resourceGroups/adminportalproject/providers/Microsoft.Web/sites/adminportalproject</ResourceId>
    <ResourceGroup>adminportalproject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adminportalproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>adminportalproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>adminportalproject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$adminportalproject</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:adminportal.database.windows.net,1433;Initial Catalog=identitydb;User ID=muktadiru.ahmed;Password=Rapidfire1965%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AdminPortal.Models.ApplicationDbContext, AdminPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EmployeeContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:adminportalshared.database.windows.net,1433;Initial Catalog=shareddb;Persist Security Info=True;User ID=muktadiru.ahmed;Password=Rapidfire1965%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="MultipleDBMigrations" DbContext="AdminPortal.Models.AdminAppsViewModels.EmployeeDbContext, AdminPortal" MigrationConfiguration="-DuplicateMigration-" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EmployeeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:adminportalshared.database.windows.net,1433;Initial Catalog=shareddb;Persist Security Info=True;User ID=muktadiru.ahmed;Password=Rapidfire1965%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:adminportal.database.windows.net,1433;Initial Catalog=identitydb;User ID=muktadiru.ahmed;Password=Rapidfire1965%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EmployeeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:adminportalshared.database.windows.net,1433;Initial Catalog=shareddb;Persist Security Info=True;User ID=muktadiru.ahmed;Password=Rapidfire1965%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:adminportal.database.windows.net,1433;Initial Catalog=identitydb;User ID=muktadiru.ahmed;Password=Rapidfire1965%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>