
@{
    ViewBag.Title = "Admin Site";
}


<h2>Admin Site</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-sm">
                Welcome to the admin site. This application is designed to add new employees and to add eligible employees into the bonus scheme. Choose available applications from below
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">

        </div>
    </div>
</div>
